appdirs==1.4.4
attrs==23.2.0
blinker==1.8.2
booleanOperations==0.9.0
Brotli==1.1.0
cffi==1.16.0
cffsubr==0.3.0
click==8.1.7
defcon==0.10.3
Flask==3.0.3
Flask-Cors==4.0.2
fontFeatures==1.8.0
fontMath==0.9.3
fontPens==0.2.4
fonttools==4.51.0
freetype-py==2.4.0
fs==2.4.16
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.1
MarkupSafe==2.1.5
numpy==2.0.1
packaging==24.0
pyclipper==1.3.0.post5
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2024.1
git+https://github.com/no-design-foundry/filters-rasterizer.git
git+https://github.com/no-design-foundry/filters-rotorizer.git
git+https://github.com/no-design-foundry/filters-pan.git
scipy==1.13.0
setuptools==72.1.0
six==1.16.0
skia-pathops==0.8.0.post1
tzdata==2024.1
ufo-extractor==0.6.0
ufo2ft==3.2.1
ufoLib2==0.16.0
uharfbuzz==0.39.1
unicodedata2==15.1.0
Werkzeug==3.0.3
xattr==1.1.0
zopfli==0.2.3
